

.header{
    position: fixed;
    top:0px;
    left: 0px;
    width:1600px;
    height:50px;
    background-color: #ff9292;
}


.logo_land {
    position:relative;
    top:-65px;
    /* bottom:220px; */
    left:45px;
    /* left:40px; */
    height: 100px;
    width: auto;
  }

.land{
    position:fixed;
    width:54%;
    left:0px;
    bottom:100px;
    /* bottom:-20px; */
}

.Check{
    background-color: #F1D9c6;
    position: fixed;
    right:300px;
    top:200px;
    height:90px;
    width:250px;
    font-size: larger;
    border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.Day_Off{
    background-color: #F1D9c6;
    position: fixed;
    right:300px;
    top:400px;
    height:90px;
    width:250px;
    font-size: larger;
    border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

#info{
    position: fixed;
    /* top:300px; */
    /* bottom:10px; */
    left:900px;
    width:1000px;
    height:150px;
    top:750px;
    font-size: x-large;

}